<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>About Aphex Twin</title>
	</head>
	<body>
		<nav class="nav">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/works">Works</a></li>
			</ul>
		</nav>
		<main class="main">
			<h1>About Aphex Twin</h1>
			<ul>
				<li>Aphex Twin is one of the aliases of Richard David James</li>
				<li>Irish-born British musician, composer and DJ</li>
				<li>
					known for his work in electronic styles such as Techno, Ambient and
					Jungle
				</li>
				<li>
					counts as one of the most influential and important artists in
					contemporary electronic music
				</li>
			</ul>
		</main>
	</body>
</html>
