<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Works of Aphex Twin</title>
	</head>
	<body>
		<nav class="nav">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/works">Works</a></li>
			</ul>
		</nav>
		<h1>Studio albums of Aphex Twin</h1>
		<ul>
			<li>Selected Ambient Works 85-92 (1992)</li>
			<li>Selected Ambient Works Volume II (1994)</li>
			<li>...I Care Because You Do (1995)</li>
			<li>Richard D. James Album (1996)</li>
			<li>Drukqs (2001)</li>
			<li>Syro (2014)</li>
		</ul>
	</body>
</html>
