* {
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	color: white;
	box-sizing: border-box;
}

.main {
	text-align: center;
}

h1 {
	font-size: 1.4rem;
	margin: 0 auto;
	padding: 20px 0;
}

.img {
	height: 500px;
	width: auto;
	margin: 0 auto;
}

.nav {
	padding: 20px;
}

.nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.nav li {
	border: thin solid white;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
}

.nav a {
	text-decoration: none;
	color: white;
}

.nav a:focus,
.nav a:hover,
.nav a:active {
	color: hotpink;
}
